import(broom)
import(doParallel)
import(foreach)
import(ggplot2)
import(ggthemes)
import(grid)
import(magrittr)
import(oxcAAR)
import(reshape2)
import(scales)
importFrom("stats", "approx", "filter", "na.omit", "quantile", "sd")
importFrom("utils", "read.csv", "write.csv")
importFrom("Rdpack","reprompt")
export("run_analysis")
export("set_up_environment")
export("read_input_data")
export("prepare_data")
export("simulate_dates")
export("sum_calibrate_simulated_dates")
export("smooth_sumcal_result")
export("detect_pattern")
